@import '../lib/styles/abstracts/box-shadow.css';
@import '../lib/styles/abstracts/colors.css';
@import '../lib/styles/abstracts/font-sizes.css';
@import '../lib/styles/abstracts/media.css';
@import '../lib/styles/reset.css';

/* body */
body {
  font-family: var(--font-primary);
  font-size: var(--font-base);

  color: var(--color-on-background);
  background-color: var(--color-background);

  min-height: 100vh;

  @supports (height: 100dvh) {
    min-height: 100dvh;
  }
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* scrollbar */
::-webkit-scrollbar-track {
  background-color: var(--color-background);
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-background);
}

::-webkit-scrollbar-button {
  display: none;
}
