.main {
  display: flex;
  flex: 1 1 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5rem;
}

@media (min-width: 60em) {
  .footer {
    padding: 2rem;
  }
}

.header {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}

@media (min-width: 60em) {
  .header {
    padding: 2rem;
  }
}

.title {
  font-family: var(--font-secondary);
  font-size: var(--font-medium);
  font-weight: 700;
}

@media (min-width: 60em) {
  .title {
    font-size: var(--font-extra-large);
  }
}
